/* 公共样式 */
:root {
    /* --mcolor: rgb(0, 150, 136); */
    --mcolor: #2a3338;
}

body {
    margin: 0;
    padding: 0;
}

body p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

pre {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

section {
    letter-spacing: 1.75px;
    color: #666;
}
/* 遮罩 */
#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .5);
}

/* 头部 */
header {
    height: 4rem;
    line-height: 3.25;
    display: flex;
    background-color: var(--mcolor);
    color: #fff;
    font-size: larger;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header>div {
    margin-left: 20px;
    margin-right: 20px;
}

/* 侧边 */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    z-index: 5;
    background-color: #fff;
    opacity: 0.95;
    transition: left .5s;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.sidebar>ul li {
    line-height: 3;
    border-bottom: 1px solid #f3f3f3;
}

.sidebar a:first-child>li {
    border-top: 1px solid #f3f3f3;
}

.info-text {
    font-size: 0.75rem;
    color: #999;
}

.img-head {
    width: 80%;
    margin: 0 auto;
}

.img-head img {
    border-radius: 50%;
    width: 50%;
    max-width: 100%;
}

/* 主体部分 */
.main-body {
    padding: 5px 10px;
    margin-top: 4rem;
    background-color: #f1f2f9;
}

.cover-img {
    width: 100%;
    height: calc(24vh);
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.article-body,.show-comments,.new-comment {
    border: 1px solid darkgray;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 0 0 8px slategray;
    background-color: #fbfbfb;
}

.show-article {
    padding: 0px .75rem .75rem;
}

.show-article>p {
    font-size: .85rem;
    line-height: 1.5;
    color: #666;
}

.show-article>h4 {
    margin-top: 0.75em;
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1.5;
    font-weight: normal;
}

/* 文章详情 */
.m-article img {
    display: block;
    max-width: 100% !important;
    margin: 0 auto;
}

.m-article section p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: .75px;
    color: #666;
}

.m-article a {
    color: #666;
}

.t-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(20vh);
    position: relative;
}

.t-header>h3 {
    position: absolute;
    left: .5rem;
    bottom: .5rem;
    text-shadow: 0px 1px 8px #000;
    color: #f3f3f3;
    font-size: 1.5rem;
    margin: 0;
    line-height: normal;
}

.article-info {
    display: flex;
    flex-direction: row;
    font-size: .75rem;
    color: #666;
    letter-spacing: 1px;
}

.article-info>li {
    padding-right: 15px;
}


/* 页码处理区域 */
#page-zone {
    text-align: center;
}

#page-list {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0;
}

#page-list li {
    display: block;
    float: left;
    margin: 0px 15px;
    padding: 10px 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #fff;
}

#page-list li:hover {
    background-color: var(--mcolor);
    color: white;
}

#page-list .active {
    color: white;
    background-color: var(--mcolor);
}
