{% extends "blog/layout.html" %}
{% block middle-body %}
<!-- 文章展示区域 -->
{% if status %}
<div id="article-zone" class="inner-box">
    <article class="post-body">
        <header class="t-header" style="background-image:url({{cover}})">
            <h3>{{title}}</h3>
        </header>
        <div class="content">
            <p class="text-muted" style="font-size: 0.75rem;">
                <span>作者：</span><a href="." class="text-muted">{{author}}</a><span> |
                    &nbsp;分类：</span><a href="." class="text-muted">{{category}}</a><span>
                    |&nbsp;发布于：</span><time>{{time}}</time>
            </p>
            <section>{{body|safe}}
            </section>
        </div>
    </article>
</div>
<!--PC版-->
<div id="SOHUCS" sid="post{{id}}"></div>
<script charset="utf-8" type="text/javascript" src="https://cy-cdn.kuaizhan.com/upload/changyan.js"></script>
<script type="text/javascript">
    window.changyan.api.config({
        appid: 'cyuRWVFza',
        conf: 'prod_59c59ec88fce178337db42afc1ff9d72'
    });
</script>
{% endif %}
{% endblock %}