{% extends "blog/layout.html" %}
{% block middle-body %}
<!-- 文章展示区域 -->
{% if status %}
<div id="article-zone" class="inner-box">
    <article class="post-body">
        <header class="t-header" style="background-image:url({{cover}})">
            <h3>{{title}}</h3>
        </header>
        <div class="content">
            <p class="text-muted" style="font-size: 0.75rem;">
                <span>作者：</span><a href="." class="text-muted">{{author}}</a><span> |
                    &nbsp;分类：</span><a href="." class="text-muted">{{category}}</a><span>
                    |&nbsp;发布于：</span><time>{{time}}</time>
            </p>
            <section>{{body|safe}}
            </section>
        </div>
    </article>
</div>
{% endif %}
{% endblock %}